$color-redes: #8C5C4A;
$color-h2:#F2F2F2;
$color-p-slider:#F2F2F2;
$color-redes-hover:#8C5C4A;
$color-formulario:#0D0D0D;
$color-boton:#0D0D0D;
$color-boton-hover:#F2F2F2;
$color-contacto:#F2F2F2;
$color-boton-border:#0D0D0D;
$color-boton-border-hover:#0D0D0D;
$color-boton-border-c:#0D0D0D;
